.quizCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 0;
}

.list{
    list-style: none;
    padding: 10px 20px;
    border: 2px solid #5c5c5c;
    max-width: 600px;
    width: 100%;
    cursor: pointer;
}

.controls{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
}

.controls > button{
    cursor: pointer;
}

.correct{
    border: 4px solid green;
}

.wrong{
    border: 4px solid red;
}